<!DOCTYPE html>
<html>
  <head>
    <link rel="canonical" href=" { { site.url } }{ { page.url } }" />
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/css/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/css/timeline.css" />
<link rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/css/syntax.css" />
<link rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/css/jquery.mmenu.all.css" />
    </head>

    <body>
    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>
    </body>
</html>
