+++
layout = "default"
+++

<!DOCTYPE html>
<html>
  <head>
    <link rel="canonical" href=" { { site.url } }{ { page.url } }" />
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/site/css/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/site/css/timeline.css" />
<link rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/site/css/syntax.css" />
<link rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/site/css/jquery.mmenu.all.css" />
    </head>

    <body>
    <div class="page-content">
      <div class="wrap">

<div class="container-fluid single">
  <div class="row">
      <h1 class="header" itemprop="name">{{ page.title }}</h1>
      <div class="author">
        <small><i>
          on <span itemprop="datePublished" content="2014-08-28">{{ page.date }}</span>
        </i></small>
      </div>

      <div class="content-panel content">
        <span itemprop="articleBody">{{ content }}</span>
      </div>
      {% if site.twitter_username %}
      <div class="content-panel feedback">
        I <i class="fa fa-heart"></i> feedback.<br />
        Let me know what you think of this article on twitter <a href="http://www.twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a>!
      </div>
      {% endif %}

      {% if site.disqus_account %}
      <div class="content-panel comments">
        <div id="disqus_thread">
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
      </div>
      {% endif %}
    </div>

  </div>

</div>

{% if site.disqus_account %}
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
function disqus_config() { this.experiment.enable_scroll_container = true; }
var disqus_shortname = "{{ site.disqus_account }}"; // required: replace example with your forum shortname
/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
{% endif %}
      </div>
    </div>
    </body>
</html>
